<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <section id = "pet-<%=pet.id%>">
    <img src= <%= pet.image_url %>>
    <h2><%= pet.name %></h2>
    <h2><%= pet.description %></h2>
    <h2><%= pet.approximate_age%></h2>
    <h2><%= pet.sex %></h2>
    <h2><%= pet.shelter.name %></h2>

    <%= link_to "Edit This Pet", "/pets/#{pet.id}/edit" %>
  </section>

<% end %>
<% if @shelter %>

   <%= link_to "Add new pet", "/shelters/#{@shelter.id}/pets/new" %>
<% end %>
