  <h1>Pets for this <%@pet.shelter.name%></h1>

  <section id = "pet-<%=@pet.id%>">
    <img src= <%= @pet.image_url %>>
    <h2><%= @pet.name %></h2>
    <h2><%= @pet.description %></h2>
    <h2><%= @pet.approximate_age%></h2>
    <h2><%= @pet.sex %></h2>
    <h2><%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter.id}" %></h2>
    <h2><%= @pet.adopt_status %></h2>
  </section>

  <%= link_to "Update This Pet", "/pets/#{@pet.id}/edit" %>

  <%= link_to "Delete This Pet", "/pets/#{@pet.id}", method: :delete %>
